body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #333333;

  &:visited, &:link, &:active {
    color: inherit;
  }

  &:hover {
    color: #666666;
  }
}

.clear {
  float: none;
  clear: both;
}
